<<!DOCTYPE HTML>
<!--
https://frontbackend.com/thymeleaf/spring-boot-bootstrap-thymeleaf-drop-file-area
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>RFA - радіо для всіх!</title>

    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/dropzone.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/toastr.min.css}"/>
</head>
<body>

<!-- Navigation -->
<header>
<!--    <div th:insert="~{/fragments/user :: user_navbar}">  </div>-->
    <div th:insert="~{/fragments/navbar :: mynavbar}"/>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-5">
            <div th:if="${message}">
                <h2 th:text="${message}"/>
            </div>
            <div id="dropzone">
                <form th:action="'/podcast/episodeupload/'+${podcast.uuid}" class="dropzone needsclick" id="demo-upload" method="post">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}" />
                    <div class="dz-message needsclick">
                        <button type="button" class="dz-button">Перенесіть епізод сюди або натисніть для вибору епізоду.</button>
                        <br/>
                    </div>
                </form>
            </div>
            <div>
                <a th:href="'/podcast/pedit/'+${podcast.uuid}" class="btn btn-primary">Повернутися додому</a>
            </div>
        </div>
    </div>
    <!-- перелік всіх епізодів -->
    <div class="row">
        <div class="col-lg-8 mt-5">
            <!-- перелік всіх епізодів -->
            <div class="row gx-lg-5">
                <!-- початок циклу виводу подкастів -->
                <div th:each="item : ${podcastAllItemList}" class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-header">
                            <!-- посилання на додавання епізоду до подкасту -->
                            <a class="mx-auto" th:href="'/podcast/addepisode/'+${podcast.uuid}+'/'+${item.uuid}">
                                <span class="badge rounded-pill bg-primary">Додати</span>
                            </a>
                        </div>
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <!-- поточний подкаст -->
                            <h3 class="fs-6" >Подкаст:</h3>
                            <h3 class="fs-6" th:text="${item.chanel.title}"></h3>
                            <hr>
                            <!-- Файл епізоду -->
                            <p class="mb-0" >Файл:<span th:text="' '+${item.storeitem.filename}"/></p>
                            <hr>
                            <!-- назва епізоду -->
                            <div th:if="${item.title != null}">
                                <h3 class="fs-4 fw-bold" th:text="${item.title}"></h3>
                                <hr>
                            </div>
                            <!-- зміст епізоду -->
                            <div th:if="${item.description != null}">
                                <p  th:if="${item.description.length()>200}" class="mb-0 fs-6" th:utext="${#strings.substring(item.description,0,200)+'...'}"></p>
                                <p  th:if="${item.description.length()<200}" class="mb-0 fs-6" th:utext="${item.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- кінець циклу виводу подкастів -->
            </div>
        </div>
    </div>

</div>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<!--<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
<script src="/js/bootstrap.bundle.min.js"></script>

<script th:src="@{/js/dropzone.min.js}"></script>
<script th:src="@{/js/toastr.min.js}"></script>

<script>
    Dropzone.autoDiscover = false;

    $("#demo-upload").dropzone({
        success : function(file, response) {
            toastr.success('File ' + file.name + ' uploaded successfully');
        }
    });
</script>

</body>
</html>