<<!DOCTYPE HTML>
<!--
https://frontbackend.com/thymeleaf/spring-boot-bootstrap-thymeleaf-drop-file-area
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Dropzone</title>

    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/dropzone.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/toastr.min.css}"/>
</head>
<body>

<!-- Navigation -->
<header>
<!--    <div th:insert="~{/fragments/user :: user_navbar}">  </div>-->
    <div th:insert="~{/fragments/navbar :: mynavbar}"/>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-5">
            <div th:if="${message}">
                <h2 th:text="${message}"/>
            </div>
            <div id="dropzone">
                <form th:action="#" class="dropzone needsclick" id="demo-upload" method="post">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}" />
                    <div class="dz-message needsclick">

                    <div class="dz-message needsclick">
                        <button type="button" class="dz-button">Перенсіть файл сюди або натисніть для вибору файла.</button>
                        <br/>
                    </div>
                </form>
            </div>
            <div>
                <a href="/login/route" class="btn btn-primary">Повернутися додому</a>
            </div>
        </div>
    </div>

</div>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<!--<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
<script src="/js/bootstrap.bundle.min.js"></script>

<script th:src="@{/js/dropzone.min.js}"></script>
<script th:src="@{/js/toastr.min.js}"></script>

<script>
    Dropzone.autoDiscover = false;

    $("#demo-upload").dropzone({
        success : function(file, response) {
            toastr.success('File ' + file.name + ' uploaded successfully');
        }
    });
</script>

</body>
</html>