<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Толока - радіо для всіх!</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <div th:replace="~{/fragments/common :: ogpodcast}"/>

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <link href="/css/bootstrap.min.css"  rel="stylesheet" />
    <!--    <link href="/css/infoblock.css"  rel="stylesheet" />-->
</head>
<body>
    <script type="module" src="/js/audioplayer/rfapodcastplayer.js" ></script>
    <div th:insert="~{/fragments/RFAPlayer :: rfaplayertemplate}"/>
    <header>
        <!-- Navigation-->
        <div th:insert="~{/fragments/navbar :: navbarUniverse}">  </div>
    </header>

    <!-- MessageBox -->
    <div th:insert="~{/fragments/messagebox :: mymessagebox}">  </div>
    <!-- Header для главной сторінки подкастов -->
    <section class="pt-4">
        <div class="container px-lg-5">
            <div class="row " style="padding-top: 20px">
                <div class="col align-center">
                    <div th:insert="~{/fragments/messagebox :: mymessagebox}">  </div>
                </div>
            </div>
            <!-- Перелік подкастів-->
            <div class="row" style="padding-top: 50px">
                <!-- початок виводу подкастe -->
                    <div class="card bg-light border-0 h-100">
<!--                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">-->
                        <div class="card-body p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="row">
                                <!-- картинка подкасту та RSS-->
                                    <div class="col-9">
                                        <img class="img-fluid align-center" style="padding-top: 20px" th:if="${podcast.image != null}" th:src="'/store/thrumbal/w/300/' + ${podcast.image.storeidimage.uuid} + '/' + ${podcast.image.storeidimage.filename}"
                                             th:id="${podcast.image.uuid}"/>
                                    </div>
                                    <div class="col-3 text-center">
                                    <a th:href="'https://rfa.toloka.media/podcast/rss/'+${podcast.uuid}">
                                        <img class="img-fluid align-center" style="padding-top: 20px" src="/pictures/podcast-rss-feed.webp" id="podcast-rss-feed.webp"/>
                                        <br>
                                    </a>
                                    <!--                                       https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_copy_clipboard -->
                                    <!--                                        <a th:href="'https://rfa.toloka.media/podcast/rss/'+${podcast.uuid}">-->
                                    <input type="text"
                                           th:value="'https://rfa.toloka.media/podcast/rss/'+${podcast.uuid}"
                                           id="myRSSInput"
                                           hidden>
                                    <button onclick="myRssLinkToClipboard()">Copy RSS link</button>
                                    <script>
                                        function myRssLinkToClipboard() {
                                          var copyText = document.getElementById("myRSSInput");
                                          copyText.select();
                                          copyText.setSelectionRange(0, 99999); // For mobile devices
                                          navigator.clipboard.writeText(copyText.value);
                                        }
                                    </script>
                                </div>
                            </div>
                            <h1 class="fs-4 fw-bold text-center" th:text="${podcast.title}" style="padding-top: 10px"></h1> <!-- назва подкасту -->
                            <!-- зміст подкасту -->
                            <div  th:utext="${podcast.description}" class="mb-0 fs-6"  style="padding-top: 10px"></div>
                            <!-- зміст подкасту -->
                        </div>
                    </div>
            </div>
            <div class="row">
                <audio-player id="rfapodcastlayer" data-src=""></audio-player>
            </div>
        </div>
    </section>

    <section class="pt-4">
        <div class="container-fluid px-lg-5">
            <!-- Епізоди подкасту-->
<!--                function setEpisodToPlayer(episodeUUID) {-->
<!--                    // document.getElementById('audio-player').myChangeTrack(event.id,name,autor);-->
<!--                  var rfaplayer = document.getElementById("rfapodcastlayer");-->
<!--                  sourceLink = "https://rfa.toloka.media/podcast/audio/bc2c0328-2807-420c-8606-d9052fe793e8/ProDobro-2 (1).mp3";-->
<!--                  rfaplayer.setAudioSrc(sourceLink);-->
<!--                  rfaplayer.play();-->

<!--                }-->

            <script>
                function setEpisodToPlayer(id,file) {
                    document.getElementById('rfapodcastlayer').myChangeTrack(id,file);
                    //document.getElementById('audio-player').myChangeTrack(event.id,file);
                }
            </script>
            <!-- запускаємо програвач епізод-->
            <div class="row gx-lg-5">
                <div th:each="item : ${podcast.item}" class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-header">
                            <!-- запускаємо програвач на цей епізод-->
                            <span th:id="${item.uuid}" class="badge rounded-pill bg-primary" th:onclick="setEpisodToPlayer([[${item.storeitem.uuid}]],[[${item.storeitem.filename}]])">Слухати</span>
                            <!-- запускаємо програвач на цей епізод-->
                            <a class="mx-auto" th:href="'/podcast/episode/'+${item.uuid}">
                                <span class="badge rounded-pill bg-primary">Детальніше</span>
                            </a>
                        </div>
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <img class="img-fluid" th:if="${item.image != null}" th:src="'/store/thrumbal/w/100/' + ${item.image.storeidimage.uuid} + '/' + ${podcast.image.storeidimage.filename}"
                                 th:id="${item.image.uuid}"/>
                            <div th:if="${item.title != null}">
                                <h2 class="fs-4 fw-bold" style="padding-top: 10px" th:text="${item.title}"></h2>
                            </div>
                            <div th:if="${item.description != null}">
                                <p  th:if="${item.description.length()>150}" style="padding-top: 10px" class="mb-0 fs-6" th:utext="${#strings.substring(item.description,0,150)+'...'}"></p>
                                <p  th:if="${item.description.length()<150}" style="padding-top: 10px" class="mb-0 fs-6" th:utext="${item.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- Footer -->
    <div th:insert="~{/fragments/common :: footer}">  </div>

    <!-- Footer -->

    <div th:insert="~{/fragments/navbar :: bottomnavbar}">  </div>
<!--    <div th:insert="~{/fragments/RFAPlayer :: playerpodcastnavbar}">  </div>-->


    <!-- різні скріпти -->
    <script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>