server {
    server_name [[${stationname}]].rfa.toloka.media;

    # root        /radio/rfa/html;
    charset     utf-8;

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $http_host;
        proxy_pass http://[[${servergui}]]:[[${guiport}]];
        # proxy_redirect off;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/rfa.toloka.media-0001/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/rfa.toloka.media-0001/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = [[${stationname}]].rfa.toloka.media) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name [[${stationname}]].rfa.toloka.media;
    return 404; # managed by Certbot


}
