<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Fragments</title>
</head>
<body>

<div th:fragment="searchuser" class="container" >
    <div class="row">
        <div class="col-lg-12 col-sm-12" th:style="'background-color: rgb(230,230, 230'">
            <form th:action="@{'/admin/users'}" th:object="${ss}" method="post">
                <!--            <form th:action="@{'/admin/searchuser'}"  th:object="${clientsearch}" method="post">-->
                <div class="form-group row">
                    <label for="searchString" class="col col-form-label">Будь що, що міститься в полях користувача</label>
                    <input th:field="*{searchString}" type="text" class="form-control">
                </div>
                <div class="form-group row" style="padding-bottom: 10px; padding-top: 10px;">
                    <button name="submit" type="submit" class="badge rounded-pill bg-primary">Шукати</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="listusercontrol" class="container" >
    <div class="form-group row" style="padding-top: 20px">
        <div class="col-lg-12 col-sm-12">
            <div th:each="user, iStat : ${usersList}" >
                <div th:style="${iStat.odd}? 'background-color: rgb(240,240, 240'">
                    <!-- Загальна інформація про користувача                   -->
                    <div >
                        <span th:text="${user.clientdetail.custname}+' '+${user.clientdetail.custsurname}"/><br>
                        <span th:if="${user.clientdetail.firmname} != null">
                            <span th:if="${#strings.length(user.clientdetail.firmname)} > 0" th:text="${user.clientdetail.firmname}"/><br>
                        </span>
<!--                        <span th:if="${#strings.length(user.clientdetail.firmname)} > 0" th:text="${user.clientdetail.firmname}"/><br>-->
                        <span th:text="${user.email}"/><br>
                        <span th:utext="' Створення: <b>'+${#dates.format(user.clientdetail.createdate, 'dd-MM-yyyy')}"/>
                        <span th:utext="'</b>  Погодження: <b>'+${#dates.format(user.clientdetail.confirmDate, 'dd-MM-yyyy')}+'</b>'"/>
                        <br>
                        <span th:each="role, iStat : ${user.roles}">
                            <span th:if="${iStat.first}" th:utext="'Роль:<b> '+${role.role.label}+'</b>'"/>
                            <span th:if="!${iStat.first}"  th:utext="', <b>'+${role.role.label}+'</b>'"/>
                        </span>
                        <!--            <span class="badge rounded-pill bg-primary">Редагувати</span>-->
                        <br>
                        <a th:href="@{'/admin/enableuser/'+${user.id} }">
                            <span class="badge rounded-pill bg-primary">Дозволити</span>
                        </a>
                        <a th:href="@{'/admin/rejectuser/'+${user.id} }">
                            <span class="badge rounded-pill bg-primary">Відхилити</span>
                        </a>
                        <a th:href="@{'/admin/apruveinfouser/'+${user.id} }">
                            <span class="badge rounded-pill bg-primary">Підтвердити інформацію</span>
                        </a>
                        <a th:href="@{'/admin/lockuser/'+${user.id} }">
                            <span class="badge rounded-pill bg-primary">Блокувати</span>
                        </a>
                        <a th:href="@{'/admin/userdel/'+${user.id} }">
                            <span class="badge rounded-pill bg-primary">Видалити</span>
                        </a>
                    </div> <!-- end Head row -->

                    <!-- id="accordionExample" Виникають проблеми з однаковим - відкриваються всі :( -->
                    <div class="row">
                        <div class="accordion" th:id="'accordion-'+${user.clientdetail.uuid}">
                            <div class="col">
                                <!-- document -->
                                <div class="accordion-item" th:if="${#lists.size(user.clientdetail.documentslist)} > 0">
                                    <h2 class="accordion-header" id="headingDoc">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                th:attr="data-bs-target='#documentslist-'+${user.clientdetail.uuid}"
                                                aria-expanded="false"
                                                th:attrappend="aria-controls='documentslist-'+${user.clientdetail.uuid}">
                                            <span th:text="'Документи '+${#lists.size(user.clientdetail.documentslist)}"/>
                                        </button>
                                    </h2>
                                    <div th:id="'documentslist-'+${user.clientdetail.uuid}" class="accordion-collapse collapse "
                                         th:attr="aria-labelledby='labelledby-'+${user.clientdetail.uuid}"
                                         th:attrappend="data-bs-parent='documentslist-'+${user.clientdetail.uuid}">
<!--                                    <div id="documentslist" class="accordion-collapse collapse " th:attr="aria-labelledby='labelledby-'+${user.clientdetail.uuid} + ' ' + data-bs-parent='accordion-'+${user.clientdetail.uuid}">-->
                                        <!--                         data-bs-parent="${user.clientdetail.uuid}">-->
                                        <div class="accordion-body">
                                            <div th:each="doc, iStat : ${user.clientdetail.documentslist}" >
                                                <span th:utext="'<b>Файл: </b>'+${doc.store.filename}"/>
                                                <br>
                                                <span th:utext="'<b>Статус: </b>'+${doc.status.label}+' <b>Створено: </b>'+${#dates.format(doc.loaddate, 'dd-MM-yyyy')}"/>
                                                <br>
                                                <input class="form-control" id="userComment" name="userComment" th:value="${doc.userComment}" type="text" disabled/>
                                                <br>
                                                <input class="form-control" th:value="${doc.adminComment}" type="text" disabled/>
                                                <a
                                                        th:attr="download=${doc.store.filename}"
                                                        th:type="${doc.store.contentMimeType}"
                                                        th:href="@{/store/document/{suuid} (suuid=${doc.store.uuid})}">
                                                    <span class="badge rounded-pill bg-primary">Завантажити</span>
                                                </a>
                                                <a th:href="'/admin/documentedit/'+${doc.id}" target=”_blank”>
                                                    <span class="badge rounded-pill bg-primary" >Редагувати</span>
                                                </a>
                                                <a
                                                        th:attr="download=${doc.store.filename}"
                                                        th:type="${doc.store.contentMimeType}"
                                                        th:href="@{/store/document/{suuid} (suuid=${doc.store.uuid})}">
                                                    <span class="badge rounded-pill bg-primary">Схвалити</span>
                                                </a>
                                                <a
                                                        th:attr="download=${doc.store.filename}"
                                                        th:type="${doc.store.contentMimeType}"
                                                        th:href="@{/store/document/{suuid} (suuid=${doc.store.uuid})}">
                                                    <span class="badge rounded-pill bg-primary">Відхилити</span>
                                                </a>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- document -->
                                <!--  clientaddressList  -->
                                <div class="accordion-item" th:if="${#lists.size(user.clientdetail.clientaddressList)} > 0"> <!--  clientaddressList  -->
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                th:attr="data-bs-target='#clientaddressList-'+${user.clientdetail.uuid}"
                                                aria-expanded="false"
                                                th:attrappend="aria-controls='clientaddressList-'+${user.clientdetail.uuid}">
                                            <span th:text="'Адреси '+${#lists.size(user.clientdetail.clientaddressList)}"/>
                                        </button>
                                    </h2>
                                    <div th:id="'clientaddressList-'+${user.clientdetail.uuid}" class="accordion-collapse collapse"
                                         th:attr="aria-labelledby='labelledby-'+${user.clientdetail.uuid}"
                                         th:attrappend="data-bs-parent='clientaddressList-'+${user.clientdetail.uuid}">
                                        <div class="accordion-body">
                                            <div th:each="clientaddress, iStat : ${user.clientdetail.clientaddressList}" >
<!--                                                <span th:text="${clientaddress.uuid}"/><br>-->
                                                <span th:if="${clientaddress.apruve} != null">
                                                    <span th:text="${clientaddress.apruve} ? 'Підтверджено' : 'Очікує'"/><br>
                                                </span>
                                                <span th:if="${clientaddress.userAddressType} != null">
                                                    <span th:text="${clientaddress.userAddressType}"/><br>
                                                </span>
                                                <span th:if="${clientaddress.shortaddress} != null">
                                                    <span th:utext="'<b>Назва адреси: '+${clientaddress.shortaddress}+'</b>'"/><br>
                                                </span>
                                                <span th:if="${clientaddress.street} != null">
                                                    <span th:text="'Вулиця: '+${clientaddress.street}"/><br>
                                                </span>
                                                <span th:if="${clientaddress.buildnumber} != null">
                                                    <span th:text="'Будинок: '+${clientaddress.buildnumber}"/><br>
                                                </span>
                                                <span th:if="${clientaddress.korpus} != null">
                                                    <span th:text="'Корпус: '+${clientaddress.korpus}"/><br>
                                                </span>
                                                <span th:if="${clientaddress.appartment} != null">
                                                    <span th:text="'Квартира/офіс: '+${clientaddress.appartment}"/><br>
                                                </span>
                                                <span th:if="${clientaddress.cityname} != null">
                                                    <span th:text="'Місто: '+${clientaddress.cityname}"/><br>
                                                </span>
                                                <span th:if="${clientaddress.area} != null">
                                                    <span th:text="'Район: '+${clientaddress.area}"/><br>
                                                </span>
                                                <span th:if="${clientaddress.region} != null">
                                                    <span th:text="'Область: '+${clientaddress.region}"/><br>
                                                </span>
                                                <span th:if="${clientaddress.country} != null">
                                                    <span th:text="'Країна: '+${clientaddress.country}"/><br>
                                                </span>
                                                <span th:if="${clientaddress.zip} != null">
                                                    <span th:text="'Індекс: '+${clientaddress.zip}"/><br>
                                                </span>
                                                <span th:if="${clientaddress.phone} != null">
                                                    <span th:text="'Контактний телефон: '+${clientaddress.phone}"/><br>
                                                </span>
                                                <hr>
                                            </div>

                                        </div>
                                    </div>
                                </div> <!--  clientaddressList  -->
                                <!-- contractList  -->
                                <div class="accordion-item" th:if="${#lists.size(user.clientdetail.contractList)} > 0"> <!-- contractList  -->
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                th:attr="data-bs-target='#contractList-'+${user.clientdetail.uuid}"
                                                aria-expanded="false"
                                                th:attrappend="aria-controls='contractList-'+${user.clientdetail.uuid}">
                                            <span th:text="'Контракти '+${#lists.size(user.clientdetail.contractList)}"/>
                                        </button>
                                    </h2>
                                    <div th:id="'contractList-'+${user.clientdetail.uuid}" class="accordion-collapse collapse"
                                         th:attr="aria-labelledby='labelledby-'+${user.clientdetail.uuid}"
                                         th:attrappend="data-bs-parent='contractList-'+${user.clientdetail.uuid}">
                                        <div class="accordion-body">
                                            <div th:each="contract, iStat : ${user.clientdetail.contractList}" >
                                                <span th:if="${contract.contractStatus} != null">
                                                    <span th:text="${contract.contractStatus.label}"/><br>
                                                </span>
                                                <span th:if="${contract.createDate} != null">
                                                    <span th:text="'Дата створення: '+${#dates.format(contract.createDate, 'dd-MM-yyyy')}"/><br>
                                                </span>
                                                <span th:if="${contract.lastPayDate} != null">
                                                    <span th:text="'Остання оплата: '+${#dates.format(contract.lastPayDate, 'dd-MM-yyyy')}"/><br>
                                                </span>
                                                <span th:if="${contract.contractname} != null">
                                                    <span th:text="'Імʼя контракту: '+${contract.contractname}"/><br>
                                                </span>
                                                <span th:if="${contract.usercomment} != null">
                                                    <span th:text="'Коментар користувача: '+${contract.usercomment}"/><br>
                                                </span>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- contractList  -->
                            </div>
                            <div class="col">
                                <!-- stationList -->
                                <div class="accordion-item" th:if="${#lists.size(user.clientdetail.stationList)} > 0"> <!-- stationList row -->
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                th:attr="data-bs-target='#stationList-'+${user.clientdetail.uuid}"
                                                aria-expanded="false"
                                                th:attrappend="aria-controls='stationList-'+${user.clientdetail.uuid}">
                                            <span th:text="'Станции '+${#lists.size(user.clientdetail.stationList)}"/>
                                        </button>
                                    </h2>
                                    <div th:id="'stationList-'+${user.clientdetail.uuid}" class="accordion-collapse collapse"
                                         th:attr="aria-labelledby='labelledby-'+${user.clientdetail.uuid}"
                                         th:attrappend="data-bs-parent='stationList-'+${user.clientdetail.uuid}">
                                        <div class="accordion-body">
                                            <div th:each="station, iStat : ${user.clientdetail.stationList}" >
<!--                                                <span th:text="${station.uuid}"/><br>-->
                                                <span th:if="${station.name} != null">
                                                    <span> Імʼя </span>
                                                    <a th:href="@{https://{dbname}.rfa.toloka.media (dbname=${station.dbname})}" target="_blank">
                                                        <span th:text="' '+${station.name}"/>
                                                    </a>
                                                    <br>
                                                </span>

                                                <span th:text="'Контракт: '+${station.contract.contractStatus.label}"/><br>
                                                <span th:if="${station.dbname} != null">
                                                    <span th:text="'dbname: '+${station.dbname}"/><br>
                                                </span>
                                                <span th:if="${station.enable} != null">
                                                    <span th:text="'Статус: '+${station.enable} ? 'Активна' : 'Очікує підтвердження'"/><br>
                                                </span>

                                                <span th:if="${station.guiserver} != null">
                                                    <span th:text="'Сервер: '+${station.guiserver}"/><br>
                                                    <span th:if="${station.guiport} != null" th:utext="'Порти: guiport: <b>'+${station.guiport}+'</b>'"/>
                                                    <span th:if="${station.main} != null" th:utext="' main: <b>'+${station.main}+'</b>'"/>
                                                    <span th:if="${station.show} != null" th:utext="' show: <b>'+${station.show}+'</b>'"/>
                                                </span>
                                                <br>
                                                <span th:if="${station.createdate} != null" th:utext="'Створена: <b>'+${#dates.format(station.createdate, 'dd-MM-yyyy')}+'</b>'"/>
                                                <span th:if="${station.startdate} != null" th:utext="' Стартувала: <b>'+${#dates.format(station.startdate, 'dd-MM-yyyy')}+'</b>'"/>
                                                <span th:if="${station.endworkdate} != null" th:utext="' Працює до: <b>'+${#dates.format(station.endworkdate, 'dd-MM-yyyy')}+'</b>'"/><br>

                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- stationList -->
                                <!-- albumList -->
                                <div class="accordion-item" th:if="${#lists.size(user.clientdetail.albumList)} > 0"> <!-- albumList row -->
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                th:attr="data-bs-target='#albumList-'+${user.clientdetail.uuid}"
                                                aria-expanded="false"
                                                th:attrappend="aria-controls='albumList-'+${user.clientdetail.uuid}">
                                            <span th:text="'Альбоми '+${#lists.size(user.clientdetail.albumList)}"/>
                                        </button>
                                    </h2>
                                    <div th:id="'albumList-'+${user.clientdetail.uuid}" class="accordion-collapse collapse "
                                         th:attr="aria-labelledby='labelledby-'+${user.clientdetail.uuid}"
                                         th:attrappend="data-bs-parent='albumList-'+${user.clientdetail.uuid}">
                                        <div class="accordion-body">
                                            <div th:each="album, iStat : ${user.clientdetail.albumList}" >
                                                <span th:if="${album.name} != null">
                                                    <span th:utext="'<b>Назва:</b> '+${album.name}"/><br>
                                                </span>
                                                <span th:if="${album.autor} != null">
                                                    <span th:utext="'<b>Автор:</b> '+${album.autor}"/><br>
                                                </span>
                                                <span th:if="${album.description} != null">
                                                    <span th:utext="'<b>Опис альбому:</b> '+${album.autor}"/><br>
                                                </span>

                                                <span th:if="${#lists.size(album.track)} > 0">
                                                    <span><b>Треки:</b></span><br>
                                                    <span th:each="ttrack, iStat : ${album.track}">
<!--                                                        <span>&#45;&#45;</span>-->
                                                        <span th:utext="'--  '+${ttrack.name}+'<br>'" style="color:green"/>
                                                    </span>
                                                </span>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- albumList -->
                                <!-- trackList -->
                                <div class="accordion-item" th:if="${#lists.size(user.clientdetail.trackList)} > 0"> <!-- trackList row -->
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                th:attr="data-bs-target='#trackList-'+${user.clientdetail.uuid}"
                                                aria-expanded="false"
                                                th:attrappend="aria-controls='trackList-'+${user.clientdetail.uuid}">
                                            <span th:text="'Треки '+${#lists.size(user.clientdetail.trackList)}"/>
                                        </button>
                                    </h2>
                                    <div th:id="'trackList-'+${user.clientdetail.uuid}" class="accordion-collapse collapse "
                                         th:attr="aria-labelledby='labelledby-'+${user.clientdetail.uuid}"
                                         th:attrappend="data-bs-parent='trackList-'+${user.clientdetail.uuid}">
                                        <div class="accordion-body">
                                            Перелік Треки

                                            <div th:each="track, iStat : ${user.clientdetail.trackList}" >
                                                <span th:text="${track.name}"/><br>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- trackList -->
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="listpostcontrol">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Заголовок</th>
            <th scope="col">Автор</th>
            <th scope="col">Статус</th>
            <th scope="col">Створено</th>
            <th scope="col">Опубліковано</th>
<!--            <th scope="col">Дії</th>-->
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" th:href="@{'/creater/editpost/'+${0}}">Створити пост</a>
        <tr th:each="post : ${posts}">
            <td><span th:text="${post.posttitle}"></span><br>
                <a class="btn btn-primary" th:href="@{'/admin/publishpost/'+${post.id} }">Опублікувати</a>
                <a class="btn btn-primary" th:href="@{'/creater/editpost/'+${post.id} }">Редагувати</a>
                <a class="btn btn-primary" th:href="@{'/admin/rejectpost/'+${post.id} }">Відхилити</a>
                <a class="btn btn-primary" th:href="@{'/admin/delpost/'+${post.id} }">Видалити</a>
            </td>
            <td><span th:text="${post.clientdetail.custname}+' '+${post.clientdetail.custsurname}">Автор</span></td>
            <td><span  th:text="${post.postStatus.label}" >Статус</span></td>
            <td><span  th:text="${#dates.format(post.createdate, 'dd-MM-yyyy HH:mm')}" >Створено</span></td>
            <td><span  th:text="${#dates.format(post.publishdate, 'dd-MM-yyyy HH:mm')}" >Опубліковано</span></td>
        </tr>
        </tbody>
    </table>
</div>




<div th:fragment="listuserdocuments">

    <a class="btn btn-primary" th:href="@{'/creater/editpost/'+${0}}">Новий</a>
    <div th:each="cd : ${clientdetailList}">
            <b>
                <span th:text="${cd.custname}+' '+${cd.custsurname}+' | '+${cd.user.email}"/>
                <span th:utext="${cd.firmname != null} ? '<br>'+${cd.firmname}"/>
            </b>
        <div style="padding-left:3rem;" th:each="document : ${cd.documentslist}">
            <a th:href="'/admin/documentedit/'+${document.id}">
                <span th:text="' Створення: '+${#dates.format(document.loaddate, 'dd-MM-yyyy')} + ' Статус: '+${document.status.label}"/>
            </a>
<!--            <br>-->
<!--            <a class="btn btn-primary padding_button" th:href="@{'/admin/enableuser/'+${cd.user.id} }">Дозволити</a>-->
<!--            <a class="btn btn-primary padding_button" th:href="@{'/admin/rejectuser/'+${cd.user.id} }">Відхилити</a>-->
<!--            <a class="btn btn-primary padding_button" th:href="@{'/admin/apruveinfouser/'+${cd.user.id} }">Підтвердити інформацію</a>-->
<!--            <a class="btn btn-primary padding_button" th:href="@{'/admin/lockuser/'+${cd.user.id} }">Блокувати</a>-->
        </div>

    </div>

</div>

<div th:fragment="editdocument">
    <form class="mx-1 mx-md-4" method="post" th:action="@{/admin/documentedit}" th:object="${document}">
        <input name="id" th:value="*{id}" type="hidden"/>
        <!--        <div class="dz-message needsclick">-->
        <!--        <th:block th:switch="${document.status}">-->
        <span class="form-label">Статус:
            <select th:field="*{status}" class="form-control">
                <option th:each="linetype : ${options}"  th:value="${linetype}" th:text="${linetype.label}" >Wireframe</option>
            </select>
        </span>
        <br>

        <input class="form-control"  th:field="${document.documenttype}"
               type="text"/>
        <label class="form-label" for="documenttype">Вкажіть тип документу  (паспорт, свідотство, угода тощо)</label>

        <input class="form-control" id="userComment" name="userComment" th:value="${document.userComment}" type="text"/>
        <label class="form-label" for="userComment">Коментар користувача до документу</label>

        <input class="form-control" th:field="*{adminComment}" type="text" />
        <label class="form-label" for="adminComment">Коментар служби підтримки до документу</label>

        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button class="btn btn-primary btn-lg" type="submit">Записати зміни</button>
        </div>

    </form>
</div>

<div th:fragment="listuseraddresses">
    <div th:each="cd : ${clientdetailList}">
           <b>
                <span th:text="${cd.custname}+' '+${cd.custsurname}+' | '+${cd.user.email}"/>
                <span th:utext="${cd.firmname != null} ? '<br>'+${cd.firmname}"/>
           </b>
           <div style="padding-left:3rem;" th:each="adr : ${cd.clientaddressList}">
               <a th:href="'/admin/invertaddressapruve/'+${adr.id}">
<!--                    <span th:text="${adr.apruve != true}' Статус: '+${adr.apruve}"/><br>-->
                    <span th:text="' вул: '+${adr.street} + ' буд: '+${adr.buildnumber} + ' корп: '+${adr.korpus}+ ' кв/оф: '+${adr.appartment}"/><br>
                    <span th:text="' місто: '+${adr.cityname} + ' обл: '+${adr.region} + ' р-н: '+${adr.area}"/><br>
                    <span th:text="' країна: '+${adr.country} + ' інд: '+${adr.zip} + ' тел: '+${adr.phone}"/><br>
               </a>
               <a class="btn btn-primary padding_button" th:href="@{'/admin/editaddress/'+${adr.id} }">Редагувати</a>
               <a class="btn btn-primary padding_button" th:href="@{'/admin/invertaddressapruve/'+${adr.id} }">Схвалити</a>
           </div>
    </div>

</div>

</body>
</html>