<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--
Метатеги Open Graph для різних видів посилань - головна, пост, трек, альбом, подкаст, профайл
-->

<th:block th:fragment="og">
    <meta property=og:image th:attr="content=${ogimage==null? 'https://rfa.toloka.media/pictures/rfaog.png':'https://rfa.toloka.media/store/content/og/'+ ogimage+'/t.png' }"/>
    <meta property=og:url content='https://rfa.toloka.media/' />
    <meta property=og:title content='Радіо для всіх!' />
    <meta property=og:description content='Кожен може створити інтернет радіостанцію і його почує весь світ!'/>
    <meta property=og:type content='website' />
    <meta property=og:locale content='uk' />
</th:block>

<th:block th:fragment="ogpodcast">
    <meta property=og:image th:attr="content=${ogimage==null? 'https://rfa.toloka.media/pictures/ogpodcast.png':'https://rfa.toloka.media/store/content/og/'+ ogimage+'/t.png' }"/>

    <meta property=og:url th:attr="content=${'https://rfa.toloka.media/podcast/view/'+podcast.uuid }" />
    <meta property=og:title th:attr="content=${podcast.title}" />
    <meta property=og:description th:attr="content=${podcast.description}"/>
    <meta property=og:type content=”article”/>
    <meta property=og:locale content=”uk” />
</th:block>

<th:block th:fragment="ogpost">
    <meta property=og:image th:attr="content=${ogimage==null? 'https://rfa.toloka.media/pictures/ogpost.png':'https://rfa.toloka.media/store/content/og/'+ ogimage+'/t.png' }"/>
    <meta property=og:url th:attr="content=${'https://rfa.toloka.media/post/postview/'+post.id}" />
    <meta property=og:title th:attr="content=${post.posttitle}" />
    <meta property=og:type content=”article”/>
    <meta property=og:locale content=”uk” />
</th:block>

<th:block th:fragment="ogalbum">
    <meta property=og:image th:attr="content=${ogimage==null? 'https://rfa.toloka.media/pictures/ogpost.png':'https://rfa.toloka.media/store/content/og/'+ ogimage+'/t.png' }"/>
    <meta property=og:url th:attr="content=${'https://rfa.toloka.media/post/postview/'+post.id}" />
    <meta property=og:title th:attr="content=${post.posttitle}" />
    <meta property=og:type content=”article”/>
    <meta property=og:locale content=”uk” />
</th:block>

<th:block th:fragment="ogtrack">
    <meta property=og:image th:attr="content=${ogimage==null? 'https://rfa.toloka.media/pictures/ogpost.png':'https://rfa.toloka.media/store/content/og/'+ ogimage+'/t.png' }"/>
    <meta property=og:url th:attr="content=${'https://rfa.toloka.media/post/postview/'+post.id}" />
    <meta property=og:title th:attr="content=${post.posttitle}" />
    <meta property=og:type content=”article”/>
    <meta property=og:locale content=”uk” />
</th:block>

<th:block th:fragment="ogprofile">
    <meta property=og:image th:attr="content=${ogimage==null? 'https://rfa.toloka.media/pictures/ogpost.png':'https://rfa.toloka.media/store/content/og/'+ ogimage+'/t.png' }"/>
    <meta property=og:url th:attr="content=${'https://rfa.toloka.media/post/postview/'+post.id}" />
    <meta property=og:title th:attr="content=${post.posttitle}" />
    <meta property=og:type content=”article”/>
    <meta property=og:locale content=”uk” />
</th:block>



<!-- Footer for all pages-->

<footer th:fragment="footer" class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
<!--        <div class="me-5 d-none d-lg-block">-->
<!--            <span>Ми у соціальних мережах:</span>-->
<!--        </div>-->
        <!-- Left -->

        <!-- Right -->
<!--        <div>-->
<!--            <a href="" class="me-4 text-reset">-->
<!--                <i class="fab fa-facebook-f"></i>-->
<!--            </a>-->
<!--            <a href="" class="me-4 text-reset">-->
<!--                <i class="fab fa-twitter"></i>-->
<!--            </a>-->
<!--            <a href="" class="me-4 text-reset">-->
<!--                <i class="fab fa-google"></i>-->
<!--            </a>-->
<!--            <a href="" class="me-4 text-reset">-->
<!--                <i class="fab fa-instagram"></i>-->
<!--            </a>-->
<!--            <a href="" class="me-4 text-reset">-->
<!--                <i class="fab fa-linkedin"></i>-->
<!--            </a>-->
<!--            <a href="" class="me-4 text-reset">-->
<!--                <i class="fab fa-github"></i>-->
<!--            </a>-->
<!--        </div>-->
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Студія Толока
                    </h6>
                    <p>
                        Студія Толока - це частина громадської організації  "Обʼєднання Толока".
                        Основний напрямок діяльності - створення і поширення інструментів для розвитку громадських медіа та створення умов для розвитку української культури.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Наші продукти:
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Студія Толока</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Толока Подкаст</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Радіо Толока</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Толока Медіа</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Важливі посилання
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Про нас</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Умови використання матеріалів</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Наші політики</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Персональні данні</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Наші контакти:</h6>
                    <p><i class="fas fa-home me-3"></i> вул. Полярна, 8-А, Київ, Україна</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@toloka.kiev.ua
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 380 67 243-7595</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        CC BY-SA:
        <a class="text-reset fw-bold" href="https://rfa.toloka.media/">Студія Толока</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>