<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="service">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col align-center">
                <div class="card">
                    <div class="card-header"><h3>Альбоми</h3></div>
                    <div class="card-body">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-radio fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/creater/albums">Керувати</a>
                    </div>
                </div>
            </div>
            <div class="col align-center">
                <div class="card">
                    <div class="card-header"><h3>Треки</h3></div>
                    <div class="card-body">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-radio fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/creater/tracks">Керувати</a>
                    </div>
                </div>
            </div>
            <div class="col align-center">
                <div class="card">
                    <div class="card-header">
                        <h3>Файли</h3>
                    </div>
                    <div class="card-body">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/creater/store">Сховище</a>
                    </div>
                </div>
            </div>
            <div class="col align-center">
                <div class="card">
                    <div class="card-header">
                        <h3>Пости</h3>
                    </div>
                    <div class="card-body">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/creater/profile">Керувати</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="listtrack">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Назва треку</th>
            <th scope="col">Ім'я файлу</th>
            <th scope="col">Дія</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" href="/creator/uploadtrack">Завантажити трек</a>
        <tr th:each="track : ${trackList}">
            <td><span th:text="${track.name}"></span></td>
            <td><span th:text="${track.patch}"></span></td>
            <td><a class="btn btn-primary" th:href="@{/creater/edittrack(id=${track.id})}">Редагувати</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="listalbum">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Назва альбому</th>
            <th scope="col">Дія</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" href="/creator/uploadtrack">Створити альбом</a>
        <tr th:each="album : ${albumList}">
            <td><span th:text="${album.name}"></span></td>
            <td><a class="btn btn-primary" th:href="@{/creater/editalbum(id=${album.id})}">Редагувати</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="listpost">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Заголовок</th>
            <th scope="col">Редагувати</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" href="/creator/uploadtrack">Створити пост</a>
        <tr th:each="album : ${albumList}">
            <td><span th:text="${album.name}"></span></td>
            <td><a class="btn btn-primary" th:href="@{/creater/editalbum(id=${album.id})}">Редагувати</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>