<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="profile">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    -->
    <div class="container">
        <div class="row">
            <h1>Сторінка в розробці.</h1>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <div class="text-center border-end">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid avatar-xxl rounded-circle" alt="">
                                    <h4 class="text-primary font-size-20 mt-3 mb-2">
                                        <span th:text="${clientdetail.custname}+' '+${clientdetail.custsurname}"/>
                                    </h4>
                                    <h5 class="text-muted font-size-13 mb-0">
                                        <span th:text="${clientdetail.firmname}"/>
                                    </h5>
                                </div>
                            </div><!-- end col -->
                            <div class="col-md-9">
                                <div class="ms-3">
                                    <div th:utext="${clientdetail.comments}"></div>
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end card body -->
                </div><!-- end card -->
                <!-- Альбоми треки рости -->
                <div class="row" style="padding-top: 20px">
                    <!-- Сторінка з інформацією -->
                    <div class="col">
                        <!-- колонка з інформацією -->
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <div>Альбоми</div> <span class="badge bg-primary rounded-pill">14</span>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>Это тело аккордеона первого элемента.</strong> Оно отображается по умолчанию, пока плагин свертывания не добавит соответствующие классы, которые мы используем для стилизации каждого элемента. Эти классы управляют общим внешним видом, а также отображением и скрытием с помощью переходов CSS. Вы можете изменить все это с помощью собственного CSS или переопределить наши переменные по умолчанию. Также стоит отметить, что практически любой HTML может быть помещен в <code>.accordion-body</code>, хотя переход ограничивает переполнение.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Треки
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>Это тело аккордеона второго элемента.</strong> По умолчанию он скрыт, пока плагин свертывания не добавит соответствующие классы, которые мы используем для стилизации каждого элемента. Эти классы управляют общим внешним видом, а также отображением и скрытием с помощью переходов CSS. Вы можете изменить все это с помощью собственного CSS или переопределить наши переменные по умолчанию. Также стоит отметить, что практически любой HTML может быть помещен в <code>.accordion-body</code>, хотя переход ограничивает переполнение.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Пости
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>Это тело аккордеона третьего элемента.</strong> По умолчанию оно скрыто, пока плагин свертывания не добавит соответствующие классы, которые мы используем для стилизации каждого элемента. Эти классы управляют общим внешним видом, а также отображением и скрытием с помощью переходов CSS. Вы можете изменить все это с помощью собственного CSS или переопределить наши переменные по умолчанию. Также стоит отметить, что практически любой HTML может быть помещен в <code>.accordion-body</code>, хотя переход ограничивает переполнение.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                -->
                <!-- end card -->
            </div><!-- end col -->

            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="pb-2">
                            <h4 class="card-title mb-3">Про нас</h4>
                            <p>Hi I'm Jansh, has been the industry's standard dummy text To an English
                                person, it will seem like
                                simplified.</p>
                            <ul class="ps-3 mb-0">
                                <li>it will seem like simplified.</li>
                                <li>To achieve this, it would be necessary to have uniform pronunciation</li>
                            </ul>
                            <!-- end ul -->
                        </div>
                        <hr>
                        <div class="pt-2">
                            <h4 class="card-title mb-4">My Skill</h4>
                            <div class="d-flex gap-2 flex-wrap">
                                <span class="badge badge-soft-secondary p-2">HTML</span>
                                <span class="badge badge-soft-secondary p-2">Bootstrap</span>
                                <span class="badge badge-soft-secondary p-2">Scss</span>
                                <span class="badge badge-soft-secondary p-2">Javascript</span>
                                <span class="badge badge-soft-secondary p-2">React</span>
                                <span class="badge badge-soft-secondary p-2">Angular</span>
                            </div>
                        </div>
                    </div><!-- end cardbody -->
                </div><!-- end card -->

                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4 class="card-title mb-4">Детальніше про нас</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Name</th>
                                        <td>Jansh Wells</td>
                                    </tr><!-- end tr -->
                                    <tr>
                                        <th scope="row">Location</th>
                                        <td>California, United States</td>
                                    </tr><!-- end tr -->
                                    <tr>
                                        <th scope="row">Language</th>
                                        <td>English</td>
                                    </tr><!-- end tr -->
                                    <tr>
                                        <th scope="row">Website</th>
                                        <td>abc12@probic.com</td>
                                    </tr><!-- end tr -->
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->

                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4 class="card-title mb-4">Наші виступи</h4>
                            <ul class="list-unstyled work-activity mb-0">
                                <li class="work-item" data-date="2020-21">
                                    <h6 class="lh-base mb-0">ABCD Company</h6>
                                    <p class="font-size-13 mb-2">Web Designer</p>
                                    <p>To achieve this, it would be necessary to have uniform grammar, and more
                                        common words.</p>
                                </li>
                                <li class="work-item" data-date="2019-20">
                                    <h6 class="lh-base mb-0">XYZ Company</h6>
                                    <p class="font-size-13 mb-2">Graphic Designer</p>
                                    <p class="mb-0">It will be as simple as occidental in fact, it will be
                                        Occidental person, it will seem like simplified.</p>
                                </li>
                            </ul><!-- end ul -->
                        </div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div>
    </div>
</div>


<div th:fragment="service">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col align-center">
                <div class="card">
                    <div class="card-header"><h3>Альбоми</h3></div>
                    <div class="card-body">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-radio fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/creater/albums">Керувати</a>
                    </div>
                </div>
            </div>
            <div class="col align-center">
                <div class="card">
                    <div class="card-header"><h3>Треки</h3></div>
                    <div class="card-body">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-radio fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/creater/tracks">Керувати</a>
                    </div>
                </div>
            </div>
            <div class="col align-center">
                <div class="card">
                    <div class="card-header">
                        <h3>Файли</h3>
                    </div>
                    <div class="card-body">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/creater/store/0">Сховище</a>
                    </div>
                </div>
            </div>
            <div class="col align-center">
                <div class="card">
                    <div class="card-header">
                        <h3>Пости</h3>
                    </div>
                    <div class="card-body">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/creater/posts">Керувати</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="listtrack">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Назва треку</th>
            <th scope="col">Ім'я файлу</th>
            <th scope="col">Дія</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" href="/creator/uploadtrack">Завантажити трек</a>
        <tr th:each="track : ${trackList}">
            <td><span th:text="${track.name}"></span></td>
            <td><span th:text="${track.patch}"></span></td>
            <td><a class="btn btn-primary" th:href="@{/creater/edittrack(id=${track.id})}">Редагувати</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="listalbum">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Назва альбому</th>
            <th scope="col">Дія</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" href="/creater/editalbum/0">Створити альбом</a>
        <tr th:each="album : ${albumList}">
            <td><span th:text="${album.name}"></span></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/creater/editalbum/' + ${album.id}}">Редагувати</a>
                <a class="btn btn-primary" th:href="@{'/creater/setalbumcover/' + ${album.id}}">Обрати обкладинку</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="listpost">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Заголовок</th>
            <th scope="col">Редагувати</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" th:href="@{'/creater/editpost/'+${0}}">Створити пост</a>
        <tr th:each="post : ${posts}">
            <td><span th:text="${post.posttitle}"></span></td>
            <td><a class="btn btn-primary" th:href="@{'/creater/editpost/'+${post.id} }">Редагувати</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="listpostcontrol">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Заголовок</th>
            <th scope="col">Статус</th>
            <th scope="col">Редагувати</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" th:href="@{'/creater/editpost/'+${0}}">Створити пост</a>
        <tr th:each="post : ${posts}">
            <td><span th:text="${post.posttitle}"></span></td>
            <td><span>Статус</span></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/creater/publishpost/'+${post.id} }">Опублікувати</a>
                <a class="btn btn-primary" th:href="@{'/creater/editpost/'+${post.id} }">Редагувати</a>
                <a class="btn btn-primary" th:href="@{'/creater/delpost/'+${post.id} }">Видалити</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="listtracs">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Слухати</th>
            <th scope="col">Назва</th>
            <th scope="col">Файл</th>
            <th scope="col">Альбом</th>
            <th scope="col">Дія</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" th:href="@{/creator/trackupload}">Завантажити треки</a>
        <tr th:each="storetrack : ${storetrackList}">
            <td>
                <audio th:id="'voice'+${storetrack.uuid}" controls>
                    <!-- <source th:src="'/store/audio/'+${storetrack.uuid}+'/'+${storetrack.filename}"> -->
                    <source th:src="'/store/audio/'+${storetrack.uuid}">
                </audio>
            </td>
            <td>
                <span th:text="${storetrack.filename}"></span>
            </td>
            <td>
                <!-- todo Передбачити вивід, коли немає альбому -->
            </td>
            <td><a class="btn btn-primary" th:href="@{'/creater/edittrack/'+${storetrack.uuid} }">Редагувати</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>