<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="service">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col align-center">
                <div class="card">
                    <div class="card-header"><h3>Альбоми</h3></div>
                    <div class="card-body">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-radio fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/creater/albums">Керувати</a>
                    </div>
                </div>
            </div>
            <div class="col align-center">
                <div class="card">
                    <div class="card-header"><h3>Треки</h3></div>
                    <div class="card-body">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-radio fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/creater/tracks">Керувати</a>
                    </div>
                </div>
            </div>
            <div class="col align-center">
                <div class="card">
                    <div class="card-header">
                        <h3>Файли</h3>
                    </div>
                    <div class="card-body">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/creater/store/0">Сховище</a>
                    </div>
                </div>
            </div>
            <div class="col align-center">
                <div class="card">
                    <div class="card-header">
                        <h3>Пости</h3>
                    </div>
                    <div class="card-body">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/creater/posts">Керувати</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="listtrack">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Назва треку</th>
            <th scope="col">Ім'я файлу</th>
            <th scope="col">Дія</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" href="/creator/uploadtrack">Завантажити трек</a>
        <tr th:each="track : ${trackList}">
            <td><span th:text="${track.name}"></span></td>
            <td><span th:text="${track.patch}"></span></td>
            <td><a class="btn btn-primary" th:href="@{/creater/edittrack(id=${track.id})}">Редагувати</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="listalbum">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Назва альбому</th>
            <th scope="col">Дія</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" href="/creater/editalbum/0">Створити альбом</a>
        <tr th:each="album : ${albumList}">
            <td><span th:text="${album.name}"></span></td>
            <td><a class="btn btn-primary" th:href="@{'/creater/editalbum/' + ${album.id}}">Редагувати</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="listpost">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Заголовок</th>
            <th scope="col">Редагувати</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" th:href="@{'/creater/editpost/'+${0}}">Створити пост</a>
        <tr th:each="post : ${posts}">
            <td><span th:text="${post.posttitle}"></span></td>
            <td><a class="btn btn-primary" th:href="@{'/creater/editpost/'+${post.id} }">Редагувати</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="listpostcontrol">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Заголовок</th>
            <th scope="col">Редагувати</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" th:href="@{'/creater/editpost/'+${0}}">Створити пост</a>
        <tr th:each="post : ${posts}">
            <td><span th:text="${post.posttitle}"></span></td>
            <td><a class="btn btn-primary" th:href="@{'/creater/editpost/'+${post.id} }">Редагувати</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="listtracs">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Слухати</th>
            <th scope="col">Назва</th>
            <th scope="col">Файл</th>
            <th scope="col">Альбом</th>
            <th scope="col">Дія</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" th:href="@{/creator/trackupload}">Завантажити трек</a>
        <tr th:each="track : ${trackList}">
            <td>
                <audio id="'voice'+${track.id}" controls>
                    <source th:src="'/store/audio/'+${track.clientdetail.uuid}+'/'+${track.filename}">
                </audio>
                <br><a th:href="'/store/audio/'+${track.clientdetail.uuid}+'/'+${track.filename}">Завантажити</a></td>
            <td><span th:text="${track.name}"></span></td>
            <td><span th:text="${track.filename}"></span></td>
            <td>
                <!-- Передбачити вивід, коли немає альбому -->
                <span th:if="${track.album != null}" th:text="${track.album.name}">-</span>

<!--                <span th:text="${track.album} ?: '-'">Назва альбому</span>-->
                <!-- <span th:if="${not isEmpty(track.album)}" th:text="${track.album.name}"></span> -->
            </td>
            <td><a class="btn btn-primary" th:href="@{'/creater/edittrack/'+${track.id} }">Редагувати</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>