<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
</head>
<body>
<!--th:fragment="saveformroot"-->
<section th:fragment="saveformroot" class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Є питання?<br>Звʼяжіться з нами!</h2>
            <h3 class="section-subheading text-muted">Ми як найскоріше дамо відповідь на Ваше питання.</h3>
        </div>
        <form  th:action="@{/saveform/root}"  th:object="${question}" >
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input th:field="*{name}" class="form-control tline" id="name" type="text" placeholder="Ваше імʼя *" value style="margin: 1.25rem; padding: 1.25rem; " />
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input th:field="*{email}" class="form-control" id="email" type="email" placeholder="Ваша пошта *" value style="margin: 1.25rem; padding: 1.25rem; "  />
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" -->
                        <input th:field="*{phone}" class="form-control" id="phone" type="tel"  placeholder="Ваш номер телефону *" value style="margin: 1.25rem; padding: 1.25rem; "  />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea th:field="*{message}" class="form-control" id="message" placeholder="Ваше питання *" value style="margin: 1.25rem; padding: 1.25rem; height: 15rem; " ></textarea>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-xl text-uppercase " id="submit1Button" type="submit">Надіслати</button>
            </div>
        </form>
    </div>
</section>

</body>
</html>