<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="profile">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    -->
    <div class="container">
        <div class="row">
            <h1>Сторінка в розробці.</h1>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <div class="text-center border-end">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid avatar-xxl rounded-circle" alt="">
                                    <h4 class="text-primary font-size-20 mt-3 mb-2">
                                        <span th:text="${clientdetail.custname}+' '+${clientdetail.custsurname}"/>
                                    </h4>
                                    <h5 class="text-muted font-size-13 mb-0">
                                        <span th:text="${clientdetail.firmname}"/>
                                    </h5>
                                </div>
                            </div><!-- end col -->
                            <div class="col-md-9">
                                <div class="ms-3">
                                    <div th:utext="${clientdetail.comments}"></div>
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end card body -->
                </div><!-- end card -->
                <!-- Альбоми треки пости -->
                <div class="row" style="padding-top: 20px">
                    <!-- Сторінка з інформацією -->
                    <div class="col">
                        <!-- колонка з інформацією -->
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Альбоми <span th:text="${#lists.size(albumList)}" class="badge bg-primary rounded-pill">14</span>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table">
                                            <tbody>
                                            <tr th:each="album : ${albumList}">
                                                <td><span th:text="${album.name}"></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Треки <span th:text="${#lists.size(trackList)}" class="badge bg-primary rounded-pill">12</span>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table">
                                            <tbody>
                                            <tr th:each="track : ${trackList}">
                                                <td><span th:text="${track.name}"></span></td>
                                                <td><span th:text="${track.autor}"></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Пости <span th:text="${#lists.size(postList)}" class="badge bg-primary rounded-pill">19</span>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table">
                                            <tbody>
                                            <tr th:each="post : ${postList}">
                                                <td><span th:text="${post.posttitle}"></span></td>
<!--                                                <td><span th:text="${post.autor}"></span></td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                -->
                <!-- end card -->
            </div><!-- end col -->

<!--            <div class="col-xl-4">-->
<!--                <div class="card">-->
<!--                    <div class="card-body">-->
<!--                        <div class="pb-2">-->
<!--                            <h4 class="card-title mb-3">Про нас</h4>-->
<!--                            <p>Hi I'm Jansh, has been the industry's standard dummy text To an English-->
<!--                                person, it will seem like-->
<!--                                simplified.</p>-->
<!--                            <ul class="ps-3 mb-0">-->
<!--                                <li>it will seem like simplified.</li>-->
<!--                                <li>To achieve this, it would be necessary to have uniform pronunciation</li>-->
<!--                            </ul>-->
<!--                            &lt;!&ndash; end ul &ndash;&gt;-->
<!--                        </div>-->
<!--                        <hr>-->
<!--                        <div class="pt-2">-->
<!--                            <h4 class="card-title mb-4">My Skill</h4>-->
<!--                            <div class="d-flex gap-2 flex-wrap">-->
<!--                                <span class="badge badge-soft-secondary p-2">HTML</span>-->
<!--                                <span class="badge badge-soft-secondary p-2">Bootstrap</span>-->
<!--                                <span class="badge badge-soft-secondary p-2">Scss</span>-->
<!--                                <span class="badge badge-soft-secondary p-2">Javascript</span>-->
<!--                                <span class="badge badge-soft-secondary p-2">React</span>-->
<!--                                <span class="badge badge-soft-secondary p-2">Angular</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; end cardbody &ndash;&gt;-->
<!--                </div>&lt;!&ndash; end card &ndash;&gt;-->

<!--                <div class="card">-->
<!--                    <div class="card-body">-->
<!--                        <div>-->
<!--                            <h4 class="card-title mb-4">Детальніше про нас</h4>-->
<!--                            <div class="table-responsive">-->
<!--                                <table class="table table-bordered mb-0">-->
<!--                                    <tbody>-->
<!--                                    <tr>-->
<!--                                        <th scope="row">Name</th>-->
<!--                                        <td>Jansh Wells</td>-->
<!--                                    </tr>&lt;!&ndash; end tr &ndash;&gt;-->
<!--                                    <tr>-->
<!--                                        <th scope="row">Location</th>-->
<!--                                        <td>California, United States</td>-->
<!--                                    </tr>&lt;!&ndash; end tr &ndash;&gt;-->
<!--                                    <tr>-->
<!--                                        <th scope="row">Language</th>-->
<!--                                        <td>English</td>-->
<!--                                    </tr>&lt;!&ndash; end tr &ndash;&gt;-->
<!--                                    <tr>-->
<!--                                        <th scope="row">Website</th>-->
<!--                                        <td>abc12@probic.com</td>-->
<!--                                    </tr>&lt;!&ndash; end tr &ndash;&gt;-->
<!--                                    </tbody>&lt;!&ndash; end tbody &ndash;&gt;-->
<!--                                </table>&lt;!&ndash; end table &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; end card body &ndash;&gt;-->
<!--                </div>&lt;!&ndash; end card &ndash;&gt;-->

<!--                <div class="card">-->
<!--                    <div class="card-body">-->
<!--                        <div>-->
<!--                            <h4 class="card-title mb-4">Наші виступи</h4>-->
<!--                            <ul class="list-unstyled work-activity mb-0">-->
<!--                                <li class="work-item" data-date="2020-21">-->
<!--                                    <h6 class="lh-base mb-0">ABCD Company</h6>-->
<!--                                    <p class="font-size-13 mb-2">Web Designer</p>-->
<!--                                    <p>To achieve this, it would be necessary to have uniform grammar, and more-->
<!--                                        common words.</p>-->
<!--                                </li>-->
<!--                                <li class="work-item" data-date="2019-20">-->
<!--                                    <h6 class="lh-base mb-0">XYZ Company</h6>-->
<!--                                    <p class="font-size-13 mb-2">Graphic Designer</p>-->
<!--                                    <p class="mb-0">It will be as simple as occidental in fact, it will be-->
<!--                                        Occidental person, it will seem like simplified.</p>-->
<!--                                </li>-->
<!--                            </ul>&lt;!&ndash; end ul &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; end card-body &ndash;&gt;-->
<!--                </div>&lt;!&ndash; end card &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col &ndash;&gt;-->
        </div>
    </div>
</div>



</body>
</html>