<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--https://codepen.io/MattRuddick/pen/xaZXgE?editors=1100-->
<div th:fragment="cardtile" class="container">
<!--  <div class="text-center">-->
<!--    <h1>Музичні новини на Толоці</h1>-->
<!--  </div>-->
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div th:each="post : ${posts}">
        <div class="col">
          <div class="card ">
            <a href="#">
              <img class="card-img-top img-fluid"  th:src="'https://picsum.photos/400/300?random='+${post.id}" alt="Card image cap">
              <!--            <img class="card-img-top img-fluid"  src="https://images.unsplash.com/photo-1535025639604-9a804c092faa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6cb0ceb620f241feb2f859e273634393&auto=format&fit=crop&w=500&q=80" alt="Card image cap">-->
              <div class="card-body">
                <h5 class="card-title"><a th:href="'/post/postview/'+${post.id}"><span th:text="${post.posttitle}"/></a></h5>
<!--                <p class="card-text">-->
<!--                  Тут можна розмістити уривок тексту -->
<!--                </p>-->
                <p class="card-text">
                  <small class="text-muted">
                    <i class="fas fa-eye"></i>1000
                    <i class="far fa-user"></i><span th:text="${post.clientdetail.custname} + ' ' + ${post.clientdetail.custsurname}"/>
                    <i class="fas fa-calendar-alt"></i><span th:text="${#dates.format(post.createdate, 'dd-MM-yyyy')}"/>
                  </small>
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>

<!--      <div class="col">-->
<!--        <div class="card ">-->
<!--          <a href="#">-->
<!--            <img class="card-img-top img-fluid"  src="https://picsum.photos/400/300?random=1" alt="Card image cap">-->
<!--&lt;!&ndash;            <img class="card-img-top img-fluid"  src="https://images.unsplash.com/photo-1535025639604-9a804c092faa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6cb0ceb620f241feb2f859e273634393&auto=format&fit=crop&w=500&q=80" alt="Card image cap">&ndash;&gt;-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>-->
<!--              <p class="card-text">-->
<!--                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad alias, aliquid amet aspernatur atque culpa cum debitis dicta doloremque, dolorum ea eos et excepturi explicabo facilis harum illo impedit incidunt laborum laudantium...-->
<!--              </p>-->
<!--              <p class="card-text"><small class="text-muted"><i class="fas fa-eye"></i>1000<i class="far fa-user"></i>admin<i class="fas fa-calendar-alt"></i>Jan 20, 2018</small></p>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card ">-->
<!--          <a href="#">-->
<!--            <img class="card-img-top img-fluid"  src="https://picsum.photos/400/300?random=2" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, doloremque!</h5>-->
<!--              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio iusto maxime nemo omnis praesentium similique.</p>-->
<!--              <p class="card-text"><small class="text-muted"><i class="fas fa-eye"></i>1000<i class="far fa-user"></i>admin<i class="fas fa-calendar-alt"></i>Jan 20, 2018</small></p>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <a href="#">-->
<!--            <img class="card-img-top img-fluid"  src="https://picsum.photos/400/300?random=3" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur.</h5>-->
<!--              <p class="card-text">Amet commodi deleniti enim laboriosam odio placeat praesentium quis ratione rerum suscipit.</p>-->
<!--              <p class="card-text"><small class="text-muted"><i class="fas fa-eye"></i>1000<i class="far fa-user"></i>admin<i class="fas fa-calendar-alt"></i>Jan 20, 2018</small></p>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <a href="#">-->
<!--            <img class="card-img-top img-fluid"  src="https://picsum.photos/400/300?random=4" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur.</h5>-->
<!--              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <p class="card-text"><small class="text-muted"><i class="fas fa-eye"></i>1000<i class="far fa-user"></i>admin<i class="fas fa-calendar-alt"></i>Jan 20, 2018</small></p>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <a href="#">-->
<!--            <img class="card-img-top img-fluid"  src="https://picsum.photos/400/300?random=5" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>-->
<!--              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, consequatur culpa cumque deserunt dignissimos error explicabo fugiat harum ipsam magni minus mollitia nemo perferendis qui repellendus rerum saepe vel voluptate voluptatem voluptatum!-->
<!--                Aperiam, labore, molestiae!..</p>-->
<!--              <p class="card-text"><small class="text-muted"><i class="fas fa-eye"></i>1000<i class="far fa-user"></i>admin<i class="fas fa-calendar-alt"></i>Jan 20, 2018</small></p>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <a href="#">-->
<!--            <img class="card-img-top img-fluid"  src="https://picsum.photos/400/300?random=6" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>-->
<!--              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi debitis eaque explicabo fuga maiores necessitatibus, neque omnis optio vel!</p>-->
<!--              <p class="card-text"><small class="text-muted"><i class="fas fa-eye"></i>1000<i class="far fa-user"></i>admin<i class="fas fa-calendar-alt"></i>Jan 20, 2018</small></p>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>

<!--=========================================================================-->
<!--https://mdbootstrap.com/docs/standard/extended/tiles/-->
<div th:fragment="textblock">
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

      <div class="card bg-success text-white text-center mb-4">
        <div class="card-body">
          <h5 class="card-title">Panel title that wraps to a new line</h5>
          <p>This is a longer card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        </div>
      </div>

      <div class="card bg-info text-white text-end mb-4">
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
      </div>
      <div class="card bg-warning text-white mb-4">
        <div class="card-body">
          <h5 class="card-title">Panel title</h5>
          <p>This card has supporting text below as a natural lead-in to additional content.</p>
          <p><small>Last updated 3 mins ago</small></p></div>
      </div>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">

      <div class="card bg-primary text-white mb-4 text-end">
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
        </div>
      </div>

      <div class="card bg-danger text-white text-center my-4">
        <div class="card-body">
          <h5 class="card-title">Panel title</h5>
          <p>This card has a regular title and short paragraphy of text below it.</p>
          <p><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card bg-success text-white mb-4">
        <div class="card-body">
          <h5 class="card-title">Panel title that wraps to a new line</h5>
          <p>This is a longer card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">

      <div class="card bg-warning text-white text-center mb-4">
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
      </div>

      <div class="card bg-dark text-white mb-4">
        <div class="card-body">
          <h5 class="card-title">Panel title</h5>
          <p>This is another card with title and supporting text below.
            This card has some additional content to make it slightly taller overall.</p>
          <p><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card bg-secondary text-white text-end mb-4">
        <div class="card-body">
          <h5 class="card-title">Panel title</h5>
          <p>This card has a regular title and short paragraphy of text below it.</p>
          <p><small>Last updated 3 mins ago</small></p></div>
      </div>
    </div>
  </div>
</div>


</body>
</html>