<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>МедіаХаб</title>
</head>
<body>
<!-- Для користувача. Стовбчик з пропозиціями завантажених треків-->
<!-- колонка медіа хаб-->
<div th:fragment="usermediahub_old">
    <div class="card" >
        <div class="card-header"><h3>Медіа Хаб</h3></div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
    </div>
</div>
<!--Останні завантажені треки-->
<div class="container" th:fragment="lasttrecks">
    <div class="card" >
        <div class="card-header"><h3>Останні завантажені треки</h3></div>
        <ul class="list-group list-group-flush">
            <div th:each="track : ${trackList}">
                <li  class="list-group-item">
                    <div class="row">
                        <div class="col-1 col-sm-1 col-lg-1" style="padding-left: 0px;">
                            <span class="fa-stack fa-1x">
                                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                <i class="fas fa-play fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="col-11 col-lg-11 col-sm-11">
                            <small>
                                <span th:text="${track.autor}"/><br>
                                <span th:text="${track.name}"/><br>
                                <span th:text="${track.clientdetail.custname} + ' ' + ${track.clientdetail.custsurname}"/>
                            </small>

                        </div>
                        <div>
                            <audio id="'voice'+${track.id}" controls>
                                <source th:src="'/store/audio/'+${track.clientdetail.uuid}+'/'+${track.filename}">
                            </audio>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
        <div class="card-footer">
            <a href="/guest/tracksall/0">Подивитися всі завантажені треки</a>
        </div>
    </div>
</div>

<div class="container" th:fragment="lasttrecksall">
    <div class="card" >
        <div class="card-header"><h3>Останні завантажені треки</h3></div>
        <ul class="list-group list-group-flush">
            <div th:each="track : ${trackList}">
                <li  class="list-group-item">
                    <div class="row">
                        <div class="col-1 col-sm-1 col-lg-1" style="padding-left: 0px;">
                            <span class="fa-stack fa-1x">
                                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                <i class="fas fa-play fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="col-11 col-lg-11 col-sm-11">
                            <small>
                                <span th:text="${track.autor}"/><br>
                                <span th:text="${track.name}"/><br>
                                <span th:text="${track.clientdetail.custname} + ' ' + ${track.clientdetail.custsurname}"/>
                            </small>

                        </div>
                        <div>
                            <audio id="'voice'+${track.id}" controls>
                                <source th:src="'/store/audio/'+${track.clientdetail.uuid}+'/'+${track.filename}">
                            </audio>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
        <div class="card-footer">
            <nav aria-label="Page navigation example">
                <ul class="pagination" >
                    <li class="page-item"><a class="page-link"  th:href="'/guest/tracksall/'+${privpage}">Попередня</a></li>
                    <div th:each="lpage : ${#numbers.sequence(0, __${totalpage-1}__)}">
                        <li class="page-item"><a class="page-link"  th:href="'/guest/tracksall/'+${lpage}"><span th:text="${lpage}">1</a></li>
                    </div>
<!--                    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                    <li class="page-item"><a class="page-link" th:href="'/guest/tracksall/'+${currentpage+1}">Next</a></li>
                </ul>
            </nav>
            <a href="/guest/alltracks">Подивитися всі завантажені треки</a>
        </div>
    </div>
</div>

<div class="container" th:fragment="usermediahub">
<!--    https://mdbootstrap.com/docs/standard/components/cards/examples-and-customization/-->
    <section class="mx-auto my-5" style="max-width: 23rem;">

        <div class="card">
            <div class="card-body d-flex flex-row">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle me-3" height="50px"
                     width="50px" alt="avatar" />
                <div>
                    <h5 class="card-title font-weight-bold mb-2">Музика з перцем</h5>
                    <p class="card-text"><i class="far fa-clock pe-2"></i>01/28/2024</p>
                </div>
            </div>
            <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
                     alt="Card image cap" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text collapse" id="collapseContent">
                    Оглядаємо прем’єри від нових імен музичної хвилі. Хто вже залітає у тренди, хто має перспективу, а кого вже однозначно хочеться додавати в плейлист? Все, що гідне нашої-вашої уваги цього тижня в нашій десятці: Молода група "Перчинка" надала нам свый новий трек.
                </p>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-link link-danger p-md-1 my-1" data-mdb-toggle="collapse" href="#collapseContent"
                       role="button" aria-expanded="false" aria-controls="collapseContent">Read more</a>
                    <div>
                        <i class="fas fa-share-alt text-muted p-md-1 my-1 me-2" data-mdb-toggle="tooltip"
                           data-mdb-placement="top" title="Share this post"></i>
                        <i class="fas fa-heart text-muted p-md-1 my-1 me-0" data-mdb-toggle="tooltip" data-mdb-placement="top"
                           title="I like it"></i>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

</body>
</html>