<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
</head>
<body>
<div th:fragment="mynavbar" class="container">
    <nav  class="navbar bg-dark navbar-dark fixed-top navbar-expand-lg" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/assets/rfa-logo.png" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="">
            <i class="fas fa-bars ms-1"></i>
        </button>
        </div>

        <div  sec:authorize="!isAuthenticated()">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link" href="/about#services">Що це?</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about#portfolio">Для кого?</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about#contact">Напишіть нам</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about#about">Хто ми?</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about#team">Наша команда</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Вхід</a></li>
                </ul>
            </div>
        </div>

        <div sec:authorize="hasRole('ROLE_CREATER')" class="collapse navbar-collapse" id="navbarResponsive">
            <ul  class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="/creater/home">Головна</a></li>
                <li class="nav-item"><a class="nav-link" href="/creater/albums">Альбоми</a></li>
                <li class="nav-item"><a class="nav-link" href="/creater/tracks">Треки</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/usermessage">Повідомлення
                        <span th:if="${quantitynewmessage gt 0} " th:text="'Нові: '+ ${quantitynewmessage}" style="color:red;font-size: 0.75em; font-weight: bold;"/></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/creater/info">Профайл</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}" >Вихід</a></li>
            </ul>
        </div>
        <div sec:authorize="hasRole('ROLE_USER')" class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="/user/user_page">Головна</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/home/managestations">Станції</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/contract">Угоди</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/home/managecontract">Документи</a></li>
                <li class="nav-item"><a class="nav-link" href="/usermessage">Повідомлення
                    <span th:if="${quantitynewmessage gt 0} " th:text="'Нові: '+ ${quantitynewmessage}" style="color:red;font-size: 0.75em; font-weight: bold;"/>
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}" >Вихід</a></li>
            </ul>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="collapse navbar-collapse" id="navbarResponsive">
            <ul  class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="/creater/home">Адреси</a></li>
                <li class="nav-item"><a class="nav-link" href="/creater/albums">Пости</a></li>
                <li class="nav-item"><a class="nav-link" href="/creater/tracks">Станції</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/usermessage">Повідомлення
                        <span th:if="${quantitynewmessage gt 0} " th:text="'Нові: '+ ${quantitynewmessage}" style="color:red;font-size: 0.75em; font-weight: bold;"/></a>
                </li>

                <li class="nav-item"><a class="nav-link" th:href="@{/logout}" >Вихід</a></li>
            </ul>
        </div>
        <div sec:authorize="hasRole('ROLE_EDITOR')" class="collapse navbar-collapse" id="navbarResponsive">
            <ul  class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="/creater/home">Головна</a></li>
                <li class="nav-item"><a class="nav-link" href="/creater/albums">Альбоми</a></li>
                <li class="nav-item"><a class="nav-link" href="/creater/tracks">Треки</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/usermessage">Повідомлення
                        <span th:if="${quantitynewmessage gt 0} " th:text="'Нові: '+ ${quantitynewmessage}" style="color:red;font-size: 0.75em; font-weight: bold;"/></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/creater/info">Профайл</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}" >Вихід</a></li>
            </ul>
        </div>
        <div sec:authorize="hasRole('ROLE_MODERATOR')" class="collapse navbar-collapse" id="navbarResponsive">
            <ul  class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="/creater/home">Головна</a></li>
                <li class="nav-item"><a class="nav-link" href="/creater/albums">Альбоми</a></li>
                <li class="nav-item"><a class="nav-link" href="/creater/tracks">Треки</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/usermessage">Повідомлення
                        <span th:if="${quantitynewmessage gt 0} " th:text="'Нові: '+ ${quantitynewmessage}" style="color:red;font-size: 0.75em; font-weight: bold;"/></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/creater/info">Профайл</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}" >Вихід</a></li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>