<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
</head>
<body>

<!-- Masthead-->
<header th:fragment="masthead" class="masthead">
    <div class="container">
        <div class="masthead-subheading" style="color: #ffd500">Ласкаво просимо на Толоку!</div>
        <div class="masthead-heading text-uppercase" >Власне радіо - це просто!</div>
        <form  action="/login/registerRadioUser">
            <div class="text-center">
                <button class="btn btn-primary btn-xl text-uppercase "  type="submit">Створити власну радіостанцію!</button>
            </div>
        </form>
    </div>
</header>

<div th:fragment="tolokanews">
    <div class="row" style="padding-top: 20px">
        <!-- Колонка керування радіо-->
        <div class="col-lg-9 col-sm-12">
            <div class="card" >
                <div class="card-header"><h3>Музичні новини на Толоці</h3></div>
                <div class="card-body">
                    <div th:insert="~{/fragments/infoblock :: cardtile}"/>
                </div>
            </div>
        </div>
        <!-- колонка медіа хаб-->
        <div class="col-lg-3 col-sm-12">
            <!--                    Вставляємо останні завантажені треки-->
            <div th:insert="~{/fragments/mediahub :: lasttrecks}">  </div>
            <!--                    вставляем Медіа Хаб-->
<!--            <div th:insert="~{/fragments/mediahub :: usermediahub}">  </div>-->
        </div>
    </div>
</div>

</div>

</body>
</html>