<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Модальні вікна для головної сторінки</title>
</head>
<body>
<!-- Portfolio item 1 modal popup-->
<div th:fragment="modalportfolio1" class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Радіо для громад.</h2>
                            <p class="item-intro text-muted">Це Ваш інструмент відкритого спілкування громади і представників влади.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/MicSocial.png" alt="..." />
                            <p>Створивши власне радіо для громади Ви зможете оперативно доносити всі новини до мешканців, за допомогою мобільного телефону влаштовувати інтервʼю в прямому етері з мешканцями, запросити голову громади в ефір Вашого радіо та обговорити поточні проблеми і шляхи їх вирішення, отримати звіт від місцевої влади і багато всього іншого. <br>Це Ваше радіо і на ньому можна все!</p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Закрити
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div th:fragment="modalportfolio2"  class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Місцева влада</h2>
                            <p class="item-intro text-muted">Оперативний звʼязок з громадою!</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/MicTribuna.png" alt="..." />
                            <p>Власне радіо дозволить доносити до членів громади всі найсвіжиші новини, проводити опитування, оперативно відповідати на запити громадян, своєчасно сповіщати про прийняті рішення, бути прозорою для громади, проводити прямі ефіри з зали засідань. Для представників місцевої влади Толока пропонує сервіс розміщення подкастів. Це забезпечить гарантоване донесення інформації до кожного мешканця.<br>Локальне радіо - цілодобовий канал комунікації з мешканцями!  </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Закрити
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div  th:fragment="modalportfolio3" class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Навчальні заклади</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/StudentRadio.png" alt="..." />
                            <p>Навчальний заклад є центром активності у будь-якій громаді. Власна радіостанція дозволить залучити учнівську молодь до активної участі в житті навчального закладу. Окрім того, радіо в навчальному закладі дозволить громаді та місцевій владі налагодити діалог між різними верстами населення. </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Закрити
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div th:fragment="modalportfolio4" class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Радіо громадської організації</h2>
                            <p class="item-intro text-muted">Тепер у Вас є інструмент розповісти всім про свою діяльність!</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/ngoRadio.jpg" alt="..." />
                            <p>На жаль, громадські організації не часто запрошують в телевізійні та радіо ефіри. Стартувавши власну радіостанцію ГО отримує своє місце в інформаційному просторі! Тепер Ви можете розповісти всьому світу про Ваші проекти, запросити гостей в свій ефір і влаштувати відкриту дискусію, прорекламувати своїх колег.<br>Власне інтернет радіо - це Ваш квиток в безмежний інформаційний простір! </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Закрити
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div  th:fragment="modalportfolio5" class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Радіо для спільноти</h2>
                            <p class="item-intro text-muted">Тепер всі члени спільноти будуть знати про її життя!</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/Spilnota.jpg" alt="..." />
                            <p>Ви є членом місцевої спільноти рибалок, собачників чи шахматистів? Тепер Ви бедете в курсі всіх подій! Власне радіо дозволить Вам отримати інформацію про актуальні події чи першому сповістити Вашу спільноту про важливу новину!</p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Закрити
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div th:fragment="modalportfolio6"  class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Власне радіо для бізнесу</h2>
                            <p class="item-intro text-muted">Унікальний аудіодизайн для Ваших торгівельних майданчиків!</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6.jpg" alt="..." />
                            <p>Наповніть свій торгівельний простір улюбленою музикою Ваших відвідувачів! Створіть неповторну, дружню атмосферу на Вашому торгівельному майданчику. Ми можемо запропонувати україномовний контент українських виконавців, який створить незабутню атмосферу! </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Закрити
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>