<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--================= Сервіси користувача ====================-->
<div th:fragment="user_service">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col align-center">
                <div class="card">
                    <div class="card-header"><h3>Станції</h3></div>
                    <div class="card-body">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-radio fa-stack-1x fa-inverse"></i>
                    </span>
<!--                        <h5 class="card-title">Вас чує весь світ!</h5>-->
<!--                        <p class="card-text">Створити, зупинити, відновити роботу, видалити.</p>-->
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/user/home/managestations">Керувати</a>
                    </div>
                </div>
            </div>
            <div class="col align-center">
                <div class="card">
                    <div class="card-header">
                        <h3>Угоди</h3>
                    </div>
                    <div class="card-body">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-file-contract fa-stack-1x fa-inverse"></i>
                    </span>
<!--                        <h5 class="card-title">Угоди</h5>-->
<!--                        <p class="card-text">Створити угоду, подивитися стан, зупинити, історія. </p>-->
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/user/home/managecontract">Керувати</a>
                    </div>
                </div>
            </div>
            <div class="col align-center">
                <div class="card">
                    <div class="card-header">
                        <h3>Файли</h3>
                    </div>
                    <div class="card-body">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
<!--                        <h5 class="card-title">Ваші файли</h5>-->
<!--                        <p class="card-text">Завантаження, схвалення, видалення... </p>-->
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/user/home/documents">Ваші документи</a>
                    </div>
                </div>
            </div>
            <div class="col align-center">
                <div class="card">
                    <div class="card-header">
                        <h3>Профайл</h3>
                    </div>
                    <div class="card-body">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
<!--                        <h5 class="card-title">Профайл.</h5>-->
<!--                        <p class="card-text">Документація, служба підтримки. </p>-->
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="/user/home/usergetinfo">Профайл</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============= Ваші станції ========================-->
<div th:fragment="liststation">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Стан</th>
            <th scope="col">Імʼя станції</th>
            <th scope="col">Дата створення</th>
            <th scope="col">Дата останньої оплати</th>
            <th scope="col">Оплачено до</th>
            <th scope="col">Дії</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" href="/user/createstation">Створити радіо станцію</a>

        <tr th:each="station : ${stations}">
            <td>
                <span class="fa-stack ">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-circle-info fa-stack-1x fa-inverse"></i>
                </span>
            </td>
            <td><span th:text="${station.name}"></span></td>
            <!--                <td><span th:text="${station.createdate}"></span></td>-->
            <td><span th:text="${#dates.format(station.createdate, 'dd-MM-yyyy HH:mm' )}"></span></td>
            <td><span th:text="${#dates.format(station.lastpaydate, 'dd-MM-yyyy HH:mm')}"></span></td>
            <td> </td>
            <td><a class="btn btn-primary" th:href="@{/user/controlstation(id=${station.id})}">Керувати</a>
            </td>
            <!--                <a th:href="@{/user/temporary(id='${station.id}')}"-->

        </tr>
        </tbody>
    </table>
</div>
<!--============= Ваші станції ========================-->
<div th:fragment="listaddress">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Дія</th>
            <th scope="col">Назва адреси</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" href="/user/createaddress?id=0">Створити адресу</a>

        <tr th:each="addresse : ${clientaddresses}">
            <td><a class="btn btn-primary" th:href="@{/user/createaddress(id=${addresse.id})}">Змінити</a>
            <td><span th:text="${addresse.shortaddress}"></span></td>
            </td>
            <!--                <a th:href="@{/user/temporary(id='${station.id}')}"-->

        </tr>
        </tbody>
    </table>
</div>
<!--============ Таблиця контрактів=========================-->
<div th:fragment="listcontract">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Стан</th>
            <th scope="col">Назва</th>
            <th scope="col">Номер угоди</th>
            <th scope="col">Дата укладання</th>
            <th scope="col">Дата останньої оплати</th>
            <th scope="col">Дія</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" href="/user/createcontract">Створити угоду</a>
        <tr th:each="contract : ${contracts}">
            <td>
                <span class="fa-stack ">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-circle-info fa-stack-1x fa-inverse"></i>
                </span>
            </td>
            <td><span th:text="${contract.contractname}"></span></td>
            <td><span th:text="${contract.uuid}"></span></td>
            <td><span th:text="${contract.createDate}"></span></td>
            <td><span th:text="${contract.lastPayDate}"></span></td>
<!--            <td><span th:text="${#temporals.format(contract.createDate)}"></span></td>-->
<!--            <td><span th:text="${#temporals.format(contract.lastPayDate)}"></span></td>-->
            <td><a class="btn btn-primary" th:href="@{/user/contractedit(id=${contract.id})}">Редагувати</a></td>
        </tr>
        </tbody>
    </table>
</div>
<!--============= Останні операції з контрактами ========================-->
<div th:fragment="userrecentactions">
    <div class="card">
        <div class="card-header"><h3>Останні операції</h3></div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
    </div>
</div>
<!--============= Перелік документів ========================-->
<div th:fragment="del_listdocuments">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Стан</th>
<!--            <th scope="col">Вид документу</th>-->
            <th scope="col">Дата завантаження</th>
            <th scope="col">Дія</th>
        </tr>
        </thead>
        <tbody>
        <a class="btn btn-primary" href="/user/userloaddocument">Завантажити</a>
        <!--    <tr th:if="${contracts.isEmpty()}">-->
        <!--        <a href="/user/createcontract" class="btn btn-primary">Створити контакт</a>-->
        <!--    </tr>-->
        <tr th:each="singledocument : ${documents}">

            <!--        <th scope="row">1</th>-->
            <td>
                <select th:field="${singledocument.status.label}">
                    <option th:each="option : ${options}"
                            th:value="${option}"
                            th:text="#{${option.label}}">Wireframe</option>
                </select>

<!--                -->
<!--                <select th:field="${document.status}" class="form-control">-->
<!--                    &lt;!&ndash;Світимо назву типу в залежності від типу контракту&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:text="${document.status.label}" th:value="${document.status}"></option>&ndash;&gt;-->
<!--                    <option th:each="option : ${options}" th:field="${option}" th:text="${option.label}"></option>-->
<!--                </select>-->

<!--                <span>-->
<!--                    <th:block th:switch="${document.status}">-->
<!--                        <span th:case="0"> Не визначено</span>-->
<!--                        <span th:case="1"> Завантажено</span>-->
<!--                        <span th:case="2"> На розгляді</span>-->
<!--                        <span th:case="3"> Схвалено</span>-->
<!--                        <span th:case="4"> Відхилено</span>-->
<!--                    </th:block>-->
<!--                </span>-->
                <!--                            <span class="fa-stack ">-->
                <!--                                <i class="fas fa-circle fa-stack-2x text-primary"></i>-->
                <!--                                <i class="fas fa-circle-info fa-stack-1x fa-inverse"></i>-->
                <!--                            </span>-->
            </td>
<!--            <td><span th:text="${document.status}"></span></td>-->
<!--            <td><span th:text="${#temporals.format(singledocument.loaddate)}"></span></td>-->
            <td><span th:text="${#dates.format(singledocument.loaddate 'dd-MM-yyyy HH:mm')}"></span></td>
            <td><span><a th:href="@{'/user/documentedit/' + ${singledocument.id}}">Редагувати</a></span></td>
            <!--            <td><span><a th:href="@{/user/documentedit/{idDocument}(idDocument=${document.id})}" >Редагувати</a></span></td>-->
        </tr>
        </tbody>
    </table>
</div>
<!--============= Редагування документу ========================-->
<div th:fragment="editdocument">
    <form class="mx-1 mx-md-4" method="post" th:action="@{/user/documentedit}" th:object="${document}">
        <input name="id" th:value="*{id}" type="hidden"/>
        <input name="uuid" th:value="*{uuid}" type="hidden"/>
        <span class="form-label">Статус:
            <select th:field="*{status}" class="form-control">
                <option th:each="linetype : ${options}"  th:value="${linetype}" th:text="${linetype.label}" disabled>Wireframe</option>
            </select>
        </span>
        <br>

        <input class="form-control"  th:field="*{documenttype}" type="text"/>
        <label class="form-label" for="documenttype">Вкажіть тип документу  (паспорт, свідотство, угода тощо)</label>

        <input class="form-control" id="userComment" name="userComment" th:value="*{userComment}" type="text"/>
        <label class="form-label" for="userComment">Коментар до документу</label>

        <input class="form-control" th:field="*{adminComment}" type="text" disabled/>
        <label class="form-label" for="adminComment">Коментар підтримки до документу</label>

        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button class="btn btn-primary btn-lg" type="submit">Записати зміни</button>
        </div>

    </form>
</div>

</body>
</html>