<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Відновлення паролю.</title>
    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->

    <!-- Optional theme -->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->


    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon"/>
    <!-- Font Awesome icons (free version)-->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">-->
    <!--    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>-->
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!--    &lt;!&ndash; Core theme CSS (includes Bootstrap)&ndash;&gt;-->
    <!--    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">-->
    <!--        <link href="css/styles.css" rel="stylesheet" />-->
    <!--    <link href="/css/my.css" rel="stylesheet" />-->
</head>
<body>
<!--<div th:fragment="jnavbar">-->
<div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img alt="..." src="http://localhost:8080/assets/rfa-logo.png"/></a>
<!--            <a class="navbar-brand" href="/"><img alt="..." src="/assets/rfa-logo.png"/></a>-->
            <button aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-bs-target="#navbarScroll" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--            <a class="navbar-brand" href="/"><img src="http://localhost:8080/assets/rfa-logo.png" alt="..." /></a>-->
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 " style="--bs-scroll-height: 12em;">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="#">Наверх</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Новини</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarScrollingDropdown" role="button">
                            Інформація
                        </a>
                        <ul aria-labelledby="navbarScrollingDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Відповіді на запитання</a></li>
                            <li><a class="dropdown-item" href="#">Служба підтримки</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Документація</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a aria-disabled="true" class="nav-link disabled" href="#" tabindex="-1">Про нас</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<!-- MessageBox -->
<!--<div th:insert="~{/fragments/messagebox :: mymessagebox}">  </div>-->

<!--<div class="section section-signup" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/now-ui-kit/master/assets/img/bg4.jpg'); background-size: cover; background-position: top center; min-height: 700px;">-->
<!--<div class="container">-->

<!--</div>-->
<!--<div class="section section-signup" style="background-image: url('/assets/img/registerBG.jpg'); background-size: cover; background-position: top center; min-height: 700px;">-->
<div class="section " style="background-image: url('http://localhost:8080/assets/img/registerBG.jpg');
     background-size: cover; background-position: top center; min-height: 1500px;">
    <div class=" text-center container" style="padding-top: 10rem!important;">
        <div class="row d-flex text-center justify-content-center">
            <div class="col col-6 col-md-4 align-self-center">
                <div class="card" style="width: 22rem; border-radius: 0.75rem;">
                    <div class="card-header">
                        <h3 class="card-title"><b>Відновлення паролю</b></h3>
                    </div>
                    <div class="card-body p-5 text-center ">
                        <div th:insert="~{/fragments/messagebox :: mymessagebox}"></div>
                        <form method="post" th:action="@{/login/restorePsw}" th:object="${user}">
                            <div class="form-outline mb-4">
                                <input class="form-control form-control-lg" id="typeEmailX-2" name="email"
                                       type="email"/>
                                <label class="form-label" for="typeEmailX-2">Вкажіть Вашу пошту</label>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block " type="submit">Відновлення</button>
                        </form>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!--<script src="/js/bootstrap.bundle.min.js"></script>-->
</body>
</html>