<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Реєстрація нового користувача</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
<!--    font-size: 48px;-->
</head>
<body>
<p th:text="${name + ', вітаємо!'}"></p>

<p>
    Ви успішно зареєструвалися у сервісі <a href="http://rfa.toloka.media"><b>"Радіо для всіх!"</b></a>.
<!--    <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>-->
</p>

<p>
    Тепер, для створення радіостанції, Вам необхідно встановити пароль для входу в панель керування.<br>
    <a th:href="${confirmationUrl}">Перейдіть будь ласка за посиланням і встанвіть свій пароль.</a><br>
    Якщо щось пішло не так, то скопіюйте посилання в адресний рядок браузера та перейдіть.<br>
</p>
<p>
    Рядок для копіювання:<br>
    <span th:text="${confirmationUrl}"></span><br>
</p>
<p>
    Після встановлення пароля Ви зможети увійти і створити свою першу радіостанцію!<br>
    Якщо щось піде не так, то Ви можете звернутися до нас поштою <a href="mailto: info@toloka.kiev.ua">info@toloka.kiev.ua</a>,<br>
    через <a href="https://rfa.toloka.media/#contact">форму зворотнього звʼязку</a> на головній сторінці<br>або телефоном 0672437595 і ми завжди Вам радо допоможемо.
</p>
<p>
    Гарних Вам ефірів!
</p>
<p>
    З Повагою, <br>
    Студія Толока.<br>
    <a href="http://toloka.media">ГО "Обʼєднання Толока"</a>
</p>
</body>
</html>